:root {
    --app-sage: #aec3ae;
    --app-beige: #f3deba;
    --app-brown: #a9907e;
    --app-white: #fff4f4;
    --app-black: #332c39;
    --blur-val: 10px;
    font-family: "Josefin Sans", sans-serif;
}

body {
    perspective: 100px;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5em;
    background-color: hsla(0, 100%, 98%, 0.5);
    color: var(--app-black);
    backdrop-filter: blur(var(--blur-val));
}

.decor {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.decor:first-of-type {
    top: -600px;
    right: -180px;
    transform: translateZ(-20px);
    width: 60%;
}
.decor:nth-of-type(2) {
    top: 200px;
    left: -120px;
    transform: translateZ(-40px) rotate(30deg);
    width: 20%;
}
