.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5em;
}

/* Searchbar */
.searchbar {
    display: flex;
    justify-content: start;
    width: max-content;
    padding: 0.5em;
    gap: 1em;
    border: 1px solid var(--app-grey);
    border-radius: var(--border-radius);
}

.searchbar__label {
    width: 2em;
    height: 2em;
}

.searchbar__input {
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.25em;
}

/* Recipes results */
.recipes__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.recipe-card {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: center;
    height: 19em;
    width: 12em;
}

.recipe-card__thumb {
    width: 11em;
    height: 11em;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    filter: var(--drop-shadow);
}

.recipe-card__info {
    position: absolute;
    bottom: 0;
    background-color: var(--app-grey);
    backdrop-filter: blur(var(--blur-val));
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0 0.5em 1em 0.5em;
    gap: 0.2em;
    border-radius: var(--border-radius);
}
.recipe-card__title {
}

.recipe-card__category {
    font-style: italic;
    font-weight: 300;
}
/* .recipe-card__btn {
    position: absolute;
    z-index: 3;
    top: 50%;
} */
